header.header
    .top-line
        +socials('socials__item_white')
        .hamburger.header__menu
            svg.hamburger__img
                use(xlink:href="assets/images/sprite.svg#hamburger")
    .portfolio
        .about-me.about-me__white
            .about-me__img-rounded.img-rounded.img-rounded_size_big
                img(src="assets/images/avatar.png", alt="avatar")
            .h3.about-me__title Андрей Азимов
            .span.about-me__description Личный сайт веб-разработчика
    .arrow-down.header__arrow
        a(href="#").arrow-down__link
            svg.arrow-down__img
                use(xlink:href="assets/images/sprite.svg#arrow_down")
            
            