header.header
    .top-line
        +socials('socials__item_white')
        .hamburger
        img.hamburger_img(src="assets/images/icons/hamburger.svg")
    .portfolio
        .about-me.about-me__white
            .about-me__img
                img(src="assets/images/avatar.png", alt="avatar")
            .h2.about-me__title Андрей Азимов
            .span.about-me__description Личный сайт веб-разработчика
            