header.header
    .top-line
        +socials('socials__item_white')
        .hamburger
        img.hamburger_img(src="assets/images/icons/hamburger.svg" alt="hamburger")
    .portfolio
        .about-me.about-me__white
            .about-me__img
                img(src="assets/images/avatar.png", alt="avatar")
            .h3.about-me__title Андрей Азимов
            .span.about-me__description Личный сайт веб-разработчика
    .arrow-down
        a.arrow-down__link(href="#")
            img.arrow-down__img(src="assets/images/icons/arrow_down.svg", alt="arrow")
            