mixin socials(name)
    ul.socials
        li(class= 'socials__item '+name)
            a(href="https://vk.com/sakhalinkholmsk").socials__link 
                i.fa.fa-vk
        li(class= 'socials__item '+name)
            a(href="https://github.com/GvardX").socials__link
                i.fa.fa-github
        li(class= 'socials__item '+name)
            a(href="#").socials__link
                i.fa.fa-instagram
