mixin socials(name)
    ul.socials
        li(class= 'socials__item '+name)
            a.socials__link 
                i.fa.fa-vk
        li(class= 'socials__item '+name)
            a.socials__link
                i.fa.fa-github
        li(class= 'socials__item '+name)
            a.socials__link
                i.fa.fa-instagram
                