.about {
    display: flex;
    position: relative;
    &-left,
    &-right {
        width: 50%;
    }
    @include tablets{
        flex-direction: column;
    }   
}

.who-am-i {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.who-am-i-avatar {
    max-width: 43.3rem;
    height: auto;
    overflow: hidden;
    margin-bottom: 4rem;
    @include phones{
        max-width: 32rem;
        
    }
    &__img {
        max-width: 100%;
        max-height: 100%;
    }
}

.about-right,
.about-left {
    position: relative;
    z-index: 10;
    display: flex;
    @include tablets{
        padding: 4.9rem 10rem;
        width: 100%;
    }
    @include phones{
        padding: 2.8rem 0;
        width: 100%;
    }
}

.about-left {
    background-color: #F0EFE9;
    position: relative;
    padding: 0 2.1rem 14.4rem 5.3rem;
    @include desktop{
        flex-direction: column;
        align-items: center;
    }
    @include tablets{
        padding: 4.9rem 10rem;
    }
}

.about-right {
    background-color: #EFEBE0;
    flex-direction: column;
}

.about_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.who-am-i {
    width: 44.3rem;
    &-info{
        
        @include phones{
            padding: 0 7rem;
        }
    }
}

.my-achievements {
    margin-bottom: 5.5rem;
    @include tablets{
        margin-bottom: 4.8rem;
    }
    @include phones{
        margin-bottom: 2.7rem;
    }
    &__title{
        @include tablets{
            max-width: 20rem;    
            text-align: center;
        }
        
    }
}

.my-data {
    padding-right: 6.4rem;
    padding-left: 3.9rem;
    @include phones{
        padding: 0 1rem;
    }
}
.cont-icon{
    fill: $greenLight;
    width: 1.9rem;
    height: 2.4rem;
}
.map{
    height: 100vh;
    background-image: url(../images/map.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32.7rem 0 46rem;
    @include tablets{
        padding-top: 17.6rem;
    }
    @include phones{
        padding: 0  0 67rem;
    }
    &__contacts{
        @include desktop{
            min-width: 38rem;
        }
    }
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    opacity: 0.85;
    padding: 3.5rem 4rem 4rem;
    border-radius: 0.5rem;
    min-width: 38rem;
    position: relative;
    @include tablets{
        min-width: 35rem; 
    }
    @include phones{
        width: 100%;
        position: absolute;
        top: 0;
        padding: 3rem 3rem;
        opacity: 1;
        
    } 
}
.contacts__title{
    margin: 0 0 3rem;;
    @include tablets{
        font-size: 3.5rem;
        
    }
}
.my-contacts{
    display: flex;
    flex-direction: column;
}

.contacts-row{
    display: flex;
    align-items: center;
    margin-bottom: 2.8rem;
    @include tablets{
        margin-bottom: 2.3rem;
        font-weight: 600;
    }
    @include phones{
        font-size: 1.3rem;
        margin-bottom: 2rem;
        
    }
    
    &:last-child{
        margin: 0;
    }
    &__icon{
        margin-right: 1rem;
    }
    &__content{
        opacity: 0.85;
    }
}

.my-statistics__title{
    margin: 0;
}
.about__title{
    margin: 0;
}
.about-title__img{
    top: -5rem;
}