.about{
    display: flex;
    &-left, &-right{
        width: 50vw;
    }   
}
.who-am-i-avatar{
    width: 43.3rem;
    height: 39.1rem;
    overflow: hidden;
    &__img{
        width: 100%;
        height: 100%;
    }
}
.about-right, .about-left{
    background-position: 0 -10rem;
}
.about-left{
    background-image: url(../images/icons/about_bg_left.svg);
    background-repeat: no-repeat;
    
}
.about-right{
    background-image: url(../images/icons/about_bg_right.svg);
    background-repeat: no-repeat;
}