.about {
    display: flex;
    &-left,
    &-right {
        width: 50%;
    }   
}

.who-am-i {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.who-am-i-avatar {
    width: 43.3rem;
    height: 39.1rem;
    overflow: hidden;
    margin-bottom: 4rem;
    &__img {
        width: 100%;
        height: 100%;
    }
}

.about-right,
.about-left {
    position: relative;
    z-index: 10;
    display: flex;
    &:before {
        content: '';
        display: block;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -5;
        top: -13.5rem;
        background-size: cover;
    }
}

.about-left {
    background-color: #F0EFE9;
    position: relative;
    padding-bottom: 5.5rem;
    padding-top: 2rem;
    justify-content: space-around;
    &:before {
        background-image: url(../images/icons/about_bg_white.svg);
    }
}

.about-right {
    background-color: #EFEBE0;
    flex-direction: column;
    &:before {
        background-image: url(../images/icons/about_bg_beige.svg);
        transform: scaleX(-1);
    }
}

.about_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35.3rem;
    height: 12rem;
    top: -4rem;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(../images/icons/about_header.svg);
        background-size: cover;
        position: absolute;
        opacity: 0.06;
        top: -2rem;
    }
}  
.who-am-i {
    width: 44.3rem;
}

.my-achievements {
    margin-bottom: 5.5rem;
}

.my-data {
    padding-right: 6.4rem;
    padding-left: 3.9rem;
}