.blog {
    display: flex;
}
.blog__content + .footer{
    position: static;
}
.blog-menu__left {
    position: relative;
    z-index: 10;
    padding: 7rem 10.7rem 0 13.4rem; 
    @include desktop{
        padding: 7rem 10.7rem 0 4.4rem; 
    }
    @include tablets{
        display: none;
    }
}
.blog-menu__right{
    @include tablets{
        padding-left: 2.5rem;
    }
    @include phones{
        padding-left: 1rem;
    }
    
}
.header-blog{
    .header{
        height: 65vh;
        .triangle{
            .left, .right{
                fill: #fff;
            }
        }
    }
}

.article {
    max-width: 98rem;
    position: relative;
    padding: 7rem 0;
    @include desktop{
        max-width: 68.2rem;
    }
    @include tablets{
        padding: 5rem 0;
    }
    @include phones{
        padding: 3rem 0;
    }
    

    &::after {
        content: '';
        display: block;
        width: 68rem;
        height: 0.4rem;
        background-color: rgba($greyDark, .07);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.blog-article__code{
    @include desktop{
        max-width: 68.2rem;
        img{
            width: 100%;
        }
    }
}

.blog-menu {
    max-width: 28rem;
    min-width: 25rem;
    font-size: 1.6rem;
    &__item {
        margin-bottom: 3.8rem;
        padding-right: 1.7rem;
        transition: .25s;
        text-align: right;
        &:after{
            content: '';
            transition: .25s;
            opacity: 0;
        }
        &:hover,
        &:active {
            position: relative;

            a.blog-menu__link {
                color: $greenLight;
            }
            &:after {
                content: '';
                display: block;
                width: 0.3rem;
                height: 4.2rem;
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: $greenLight;
                opacity: 1;
            }
        }
    }
}
.blog-menu__item_active{
    &:after{
        content: '';
        transition: .25s;
        opacity: 1;
    }
}
a.blog-menu__link {
    color: $greyLight;
    line-height: 2.6rem;
    
}

.blog-title {
    font-weight: 400;
    font-family: $bernier;
    margin: 0;
}

.blog-date {
    color: $greenLight;
    font-size: 1.6rem;
}

.blog-menu__item_active {
    position: relative;
    a.blog-menu__link {
        color: $greenLight;
    }
    &:after {
        content: '';
        display: block;
        width: 0.3rem;
        height: 4.5rem;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $greenLight;
    }
}

.header-blog {
    .header {}
    .arrow-down {
        display: none;
    }
}

.blog-article {
    &__title.h3 {
        margin-bottom: 2.8rem;
        @include tablets{
            margin-bottom: 2rem;
        }
    
        @include phones{
            margin-bottom: 1.9rem;
        }
    }
    &__date {
        margin-bottom: 2.5rem;
        display: block;
        @include tablets{
            margin-bottom: 1.6rem;
        }
        @include phones{
            margin-bottom: 1.7rem;
        }
    }
    &__text {
        line-height: 2.6rem;
    }
}
.blog{
    position: relative;
}
.blog-article__paragraphs{
    margin-bottom: 1.6rem;
        @include tablets{
             font-size: 1.4rem;
             line-height: 2.1rem;
        }
}
.blog__triangle{
    fill: #fff;
}