.welcome {
    height: 100vh;
    background-image: url(../images/mount-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.button {
    position: absolute;
    top: 2.4rem;
    right: 10rem;
    background-color: transparent;
    padding: 1.5rem 2.9rem;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: .25s;
    z-index: 5;    
    span.span{
        color: #fff;
        font-weight: 600;
        transition: .25s;
    }
    &:hover {
        background-color: #fff;
        cursor: pointer;
        span.span{
        color: $greenLight;
       }
    }
    &__link {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 500;
        transition: .25s;
    }
}

.block-info {
    background-color: rgba(#fcfcfc, .85);
    border-radius: 5px;
    overflow: hidden;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.welcome {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-text {
    position: absolute;
    background: transparent;
    bottom: 50px;
}