.about-me {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__wrapper {
        padding: 4rem 6.6rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include phones{
            padding: 4rem 4em 0;
        }
    }
    &__title {
        margin-top: 0;
        margin-bottom: 1rem;
        font-weight: 600;
    }
    &__description {
        font-size: 1.6rem;
        margin-bottom: 3.5rem;
        opacity: 0.8;
        @include phones{
            font-size: 1.4rem;
        }
    }
    &__img-rounded {     
        overflow: hidden;
        margin-bottom: 7rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.img-rounded_size_big{
    width: 14.1rem;
    height: 14.1rem;
}

.img-rounded_size_small{
    width: 7.7rem;
    height: 7.7rem;
}
.img-rounded{
    border-radius: 50% 50%;
}


.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &__wrapper{
        padding-top: 3.3rem;   
    }
    &__title{
        margin-bottom: 4rem;
    }
}
.checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__human{
        margin-bottom: 1.9rem;
    }
    &__robot{
        text-align: center;
        .span{
            margin-bottom: 1rem;
            font-weight: 700;
            
        }
    }
}
.main-form{
    &__dates{
        padding: 0 2rem;
        margin-bottom: 3rem;
    }
   
    
}
.robot-radio{
    display: flex;
    justify-content: space-between;
    min-width: 20rem;
    align-items: center;
    input[type=checkbox] + label::before{
        border-radius: 50%;
        content: '\25CF';
        padding-bottom: 2px;
        width: 20px;
        height: 20px;
    }
}

.input_login{
    position: relative;
    width: 100%;
    padding-left: 1.8rem;
    border-radius: none; 
    height: 100%;
    
}

.input-wrapper{
    display: flex;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 4.5rem;
    margin-bottom: 2rem;
    &::before{
        content: '';
        display: block;
        width: 4.5rem;
        height: 4.5rem;
        background-color: #f0efe9;
        
    }
}
.input_text{
    &::before{
        background: url(../images/icons/login.svg) center no-repeat;
    }
}
.input_password{
    &::before{
        background: url(../images/icons/password.svg) center no-repeat;
    }
}
    

.item-checkbox{
   font-size: 1.6rem;
   label{
       &:hover{
           color: $greenLight;
           cursor: pointer;
       }
   }
}
input[type=checkbox]{
    display: none;
}
  
input[type=checkbox]:checked + label{
    color: $greenLight;
    transition: .2s;
}
   

input[type=checkbox] + label::before{
    position: relative;
    top: 0.3rem;
    margin-right: 0.8rem;
    content: '\2714';
    display: inline-block;
    border: 2.5px solid #b6b6b6;
    width: 2.2rem;
    height: 2.2rem;
    padding: 0 0 1rem 0.2rem;
    color: transparent;
    border-radius: 0.5rem;
    font-size: 1.8rem;
}
   
input[type=checkbox]:checked + label::before{
    background-color: $greenLight;
    border-color: $greenLight;
    transition: .2s;
    color: #fff;
}

   