.menu {
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    &__item {
        width: 100%;
        list-style-type: none;
        background-color: $greenLight;
        transition: .25s;
        &:nth-child(2) {
            border-right: 2px solid rgba(#dee3e7, .5);
            border-left: 2px solid rgba(#dee3e7, .5);
        }
    }
    &__link {
        color: #fff;
        font-size: 1.6rem;
        white-space: nowrap;
        font-weight: 600;
        padding: 1.4rem 3.2rem;
        @include tablets{
            padding: 1.4rem 2.6rem;
        }
        @include phones{
            padding: 1.4rem 2.1rem;
            text-align: center;
        }
    }
    &__button{
        width: 100%;
        background-color: $greenLight;
        color: #fff;
        font-size: 1.6rem;
        height: 100%;
        font-weight: 600;
        border: none;
        transition: .25s;
        &:hover{
            background-color: $greenDark;
            cursor: pointer;
        }
    }
}

.menu__item {
    text-align: center;
    &:hover {
        background-color: $greenDark;
        cursor: pointer;
    }
}