#parallax{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.parallax__layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    will-change: transform;
    
}
.parallax__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
  height: 100%;
  @include tablets{
      width: auto;
  }
}

