#parallax{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.parallax__layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    will-change: transform;
    
}
.parallax__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
  height: 100%;
}

.scroll-parallax {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    perspective: 100px;
  }
  
  .scroll-parallax__layer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  
  .scroll-parallax__image {
    position: absolute;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  
  .parallax__content {
    height: 2000px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateZ(0);
  }
  
  $layers: 11;
  
  @for $layersNum from $layers through 1 {
    .scroll-parallax__layer:nth-child(#{$layersNum}) {
      $currentLayer: $layers - $layersNum;
      $perspective: -$currentLayer * 50px;
      $scale: $currentLayer * .5 + 1;
  
      transform: translateZ($perspective) scale($scale);
    }
  }